.contacts {
    background: $gray-300;
    padding: 4rem 0;

    .email {
        font-weight: bolder;
        font-size: 2rem;
        color:$orange;
        @include media-breakpoint-down(md) { 
            font-size: 1.3rem;
        }
    }
}