.article {
    .content-wrap {
        display: flex;
        @include media-breakpoint-down(md) { 
            flex-wrap: wrap;
           }
    }
    .content {
        flex-grow: 1;
        h1 {
            font-family: $font-family-sans-serif;
        }
        .entry-meta {
            a {
                text-decoration: none;
            }
            time {
                margin-right: 0.2rem;
                 
            }
    
            time.updated {
                
                &::before {
                    content: "last update";
                    display: inline;
                    padding-right: .4rem;
                }
                display:none;
            }
           

        }
        time {
            margin-right: 0.2rem;
            font-size: 12px;
            
        }

        time.updated {
            
            &::before {
                content: "last update";
                display: inline;
                padding-right: 1rem;
            }
        }
    .post-thumbnail {
        width: 100%;
        height:500px;
        margin:1rem 0;
        overflow: hidden;

        img {
            width:100%;
            height:100%;
            object-fit:cover;
        }

    }
        

         figcaption {
            border-bottom: 1px solid $gray-200;
            padding: 1rem 0;
         } 

         .related-articles {
            h4 {
                border-left: 6px solid $primary;
                font-weight: 600;
                padding: 0;
                padding-left: 0.5rem;
                margin: 1.5rem 0;
            }

            ul {
                padding: 0;
                list-style: none;
                
               
                li {
                  border-top: 1px solid $gray-200;
                  padding: 0.8rem 0;
                  cursor: pointer;

                  &::before {
                    font: var(--fa-font-solid);
                    content: "\f061";
                    margin-right: 8px;
                        // margin:0 5px 0 -15px;
                        // color: #f00;
                  }

                  &:hover {

                    border-bottom:1px solid $gray-400;
                  }

                  a { 
                    color: $black;
                    text-decoration: none;
                    cursor: pointer;
                    
                }
                
                }
            }
         }

         .subscription {
            background-color: $gray-200;
            padding: 2rem;
            display: flex;

            @include media-breakpoint-down(md) { 
                display: block;
                text-align: center;
               }

            &--img {
                flex-shrink: 0;

                img {
                    max-width: 100px;
                }
                
            }

            &--content {
                flex-grow:1;
                padding:0 2rem;

                .form-control {
                    border-color:$white;
                }
                
                .title {
                    font-size: 1.6rem;
                }

            }

            
         }
    }
    .sidebar {
       flex-shrink: 0;
       @include media-breakpoint-down(md) { 
        // background-color: $gray-200;
        display: block;
        width: 100%;
        margin-left: 0 !important;
        margin: 0px auto;
       }
       
        .squire {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            margin-top: 1rem;
        }
    }

}