.pink-bg {
    background: $pink;
}

.yellow-bg {
    background: $yellow;
}
.purple-bg {
    background: $purple;
}

.lblue-bg {
    background: $lblue;
}

.bg-orange {
    background: $orange;
}