@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$quicksand: 'Quicksand', sans-serif;

body {
    font-family: $quicksand; 
}

h1, h2, h3, h4, h5, h6, p {
    font-family: $quicksand;
}

